/*
global.scss
*/

//------------------------------------------------//
//------------------- IMPORTS --------------------//
//------------------------------------------------//

$grid-columns: 24 !default;
$grid-gutter-width: 15px !default;
$grid-breakpoints: (
	xs: 0,
	sm: 768px,
	md: 992px,
	lg: 1200px,
	xl: 1440px
);

@import "../node_modules/bootstrap/scss/bootstrap";

//------------------------------------------------//
//-------------------- COLORS --------------------//
//------------------------------------------------//

// Basic Colors...
$white: #FFFFFF;
$black: #000000;

// Global Traveler Colors...
$dkblue: #12222D;
$header-backcolor: $white;
$burgermenu-color: $dkblue;
$global-gray: #9FACBD;
$red: #F46E5D;
$blue: #3FA2DA;
$tagline: $blue;
$global-green: #108751;


$dk-gray: #414042;
$border-lines: #EAEFF2; // updated for globalusa...
$border-color: #D6E3E8;
$offblue: #F0F5F7;


$gray: $global-gray;
$default: $dkblue; // #1F163E Default text color and background color of some sections.
$green: #2CB78F; // Used for Links and underlines
$orange: #EEB538; // Used for background color of headlines, and search icon...
$purple: #8A7399;
$ltpurple: #B4A5BE;
$menuborder: #484C5B;
$border-gray: #E6E7E8;

$social-color: $global-gray;

//------------------------------------------------//
//--------------------- FONTS --------------------//
//------------------------------------------------//

@font-face {
  font-family: "Noe Display Bold";
  src: 	url("../fonts/Noe-Display-Bold.woff") format("woff"), url("../fonts/Noe-Display-Bold.otf") format("opentype");
}


//-------------------------------------------------//
//------------------ SASS MIXINS ------------------//
//-------------------------------------------------//

@mixin appearance ($value: none) {
	-webkit-appearance: $value;
   -moz-appearance:    $value;
   appearance:         $value;
}
@mixin text-shadow ($string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: $string;
}
@mixin box-shadow ($string) {
	-webkit-box-shadow: $string;
	-moz-box-shadow:    $string;
	box-shadow:         $string;
}
@mixin vertical-align ($position: null) {

	@if ($position) {
		position: $position;
	}
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
@mixin centerThis($position: absolute) {
	position: $position;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
@mixin drop-shadow ($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25) {
	-webkit-box-shadow:	$x $y $blur $spread rgba(0, 0, 0, $alpha);
	-moz-box-shadow:	$x $y $blur $spread rgba(0, 0, 0, $alpha);
	box-shadow:		$x $y $blur $spread rgba(0, 0, 0, $alpha);
}
@mixin inner-shadow ($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25) {
	-webkit-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
	-moz-box-shadow:    inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
	box-shadow:         inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
}

@mixin box-sizing ($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	box-sizing:         $type;
}

@mixin border-radius ($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius:    $radius;
	border-radius:         $radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
@mixin border-radiuses ($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
	-webkit-border-top-right-radius:    $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius:  $bottomleft;
	-webkit-border-top-left-radius:     $topleft;

	-moz-border-radius-topright:        $topright;
	-moz-border-radius-bottomright:     $bottomright;
	-moz-border-radius-bottomleft:      $bottomleft;
	-moz-border-radius-topleft:         $topleft;

	border-top-right-radius:            $topright;
	border-bottom-right-radius:         $bottomright;
	border-bottom-left-radius:          $bottomleft;
	border-top-left-radius:             $topleft;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

@mixin opacity ($opacity: 0.5) {
	-webkit-opacity: 	$opacity;
	-moz-opacity: 		$opacity;
	opacity: 		$opacity;
	$msopacity: ($opacity * 100);
	filter: alpha(opacity=$msopacity) progid:DXImageTransform.Microsoft.Alpha(opacity=$msopacity);
}

@mixin gradient ($startColor: #eee, $endColor: white) {
	background-color: $startColor;
	background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
	background: -webkit-linear-gradient(top, $startColor, $endColor);
	background: -moz-linear-gradient(top, $startColor, $endColor);
	background: -ms-linear-gradient(top, $startColor, $endColor);
	background: -o-linear-gradient(top, $startColor, $endColor);
}
@mixin horizontal-gradient ($startColor: #eee, $endColor: white) {
 	background-color: $startColor;
	background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
	background-image: -webkit-linear-gradient(left, $startColor, $endColor);
	background-image: -moz-linear-gradient(left, $startColor, $endColor);
	background-image: -ms-linear-gradient(left, $startColor, $endColor);
	background-image: -o-linear-gradient(left, $startColor, $endColor);
}

@mixin animation ($name, $duration: 300ms, $delay: 0, $ease: ease) {
	-webkit-animation: $name $duration $delay $ease;
	-moz-animation:    $name $duration $delay $ease;
	-ms-animation:     $name $duration $delay $ease;
}

@mixin transition ($transition) {
	// This cannot take multiple items
	-webkit-transition: $transition;
	-moz-transition:    $transition;
	-ms-transition:     $transition;
	-o-transition:      $transition;
}
@mixin transform($string){
	-webkit-transform: $string;
	-moz-transform: 	 $string;
	-ms-transform: 		 $string;
	-o-transform: 		 $string;
	transform:			$string;
}
@mixin scale ($factor) {
	-webkit-transform: scale($factor);
	-moz-transform: 	 scale($factor);
	-ms-transform: 		 scale($factor);
	-o-transform: 		 scale($factor);
	transform:			scale($factor);
}
@mixin scaleX ($factor) {
	-webkit-transform: scaleX($factor);
	-moz-transform: 	 scaleX($factor);
	-ms-transform: 		 scaleX($factor);
	-o-transform: 		 scaleX($factor);
	transform:			scaleX($factor);
}
@mixin rotate ($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: 	 rotate($deg);
	-ms-transform: 		 rotate($deg);
	-o-transform: 		 rotate($deg);
	transform:			rotate($deg);
}
@mixin skew ($deg, $deg2) {
	-webkit-transform:       skew($deg, $deg2);
	-moz-transform: 	 skew($deg, $deg2);
	-ms-transform: 		 skew($deg, $deg2);
	-o-transform: 		 skew($deg, $deg2);
}
@mixin translateY ($y) {
	-webkit-transform: translateY($y);
	-moz-transform: translateY($y);
	-ms-transform: translateY($y);
	transform: translateY($y);
}

@mixin translate ($x, $y:0) {
	-webkit-transform:       translate($x, $y);
	-moz-transform: 	 translate($x, $y);
	-ms-transform: 		 translate($x, $y);
	-o-transform: 		 translate($x, $y);
}
@mixin translate3d ($x, $y: 0, $z: 0) {
	-webkit-transform:       translate3d($x, $y, $z);
	-moz-transform: 	 translate3d($x, $y, $z);
	-ms-transform: 		 translate3d($x, $y, $z);
	-o-transform: 		 translate3d($x, $y, $z);
}
@mixin perspective ($value: 1000) {
	-webkit-perspective: 	$value;
	-moz-perspective: 	$value;
	-ms-perspective: 	$value;
	perspective: 		$value;
}
@mixin transform-origin ($x:center, $y:center) {
	-webkit-transform-origin: $x $y;
	-moz-transform-origin:    $x $y;
	-ms-transform-origin:     $x $y;
	-o-transform-origin:      $x $y;
}

@mixin fontsmoothing($type: antialiased) {

	@if ($type == antialiased) {
		-webkit-font-smoothing: $type;
		-moz-osx-font-smoothing: grayscale;
	} @else {
		-webkit-font-smoothing: $type;
		-moz-osx-font-smoothing: $type;
	}
}

@mixin appearance ($value: none) {
	-webkit-appearance: $value;
   -moz-appearance:    $value;
   appearance:         $value;
}

%font-smoothing {
	@include fontsmoothing(auto);
}

//------------------------------------------------//
//----------------- CUSTOM MIXINS ----------------//
//------------------------------------------------//

@function ratio($width, $height) {
	@return percentage($height / $width);
}

@mixin generateRatios($width: 4, $height: 3, $prefix: "ratio-") {
  $class-name: $prefix + $width + "x" + $height;
 
  &.#{$class-name} {
    padding-bottom: ratio($width, $height);
  }
}

@mixin video($aspect-width: 16, $aspect-height: 9) {
	&.video {
		position: relative;
		padding-top: 35px;
		height: 0;
		overflow: hidden;
		iframe, > * {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			@if ($aspect-width == 16 and $aspect-height == 9) {
			height: 100%;
			}
		}
		@include generateRatios($aspect-width, $aspect-height);
	}
}

@mixin border-link($back-color: #FFFFFF, $border-color: #DC3545, $ele: null, $include-hover: true, $class-name: null, $ele-class: null, $line-size: 1px, $back-pos: 88%) {
	a {
		@if ($class-name) {
			&.#{$class-name} {
				@if ($include-hover == true) {
					&:hover {
						@if ($ele) {
							@if ($ele-class) {
								#{$ele} {
									&.#{$ele-class} {
									    background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

									    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
									    background-size: 0 $line-size, 0 $line-size,$line-size $line-size;
									    background-repeat: no-repeat,no-repeat,repeat-x;
									    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
									    background-position: 100% $back-pos, 100% $back-pos;
									}
								}
							} @else {
								#{$ele} {
								    background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

								    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
								    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
								    background-repeat: no-repeat,no-repeat,repeat-x;
								    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
								    background-position: 100% $back-pos, 100% $back-pos;
								}
							}
						} @else {
							background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));
						    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
						    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
						    background-repeat: no-repeat,no-repeat,repeat-x;
						    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
						    background-position: 100% $back-pos, 100% $back-pos;
						}
					}
				} @else {
					@if ($ele) {
						@if ($ele-class) {
							#{$ele} {
								&.#{$ele-class} {
									background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

								    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
								    background-size: .05em $line-size,.05em $line-size,$line-size $line-size;
								    background-repeat: no-repeat,no-repeat,repeat-x;
								    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
								    background-position: 100% $back-pos, 100% $back-pos;
								}
							}
						} @else {
							#{$ele} {
							    background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

							    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
							    background-size: .05em $line-size,.05em $line-size,$line-size $line-size;
							    background-repeat: no-repeat,no-repeat,repeat-x;
							    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
							    background-position: 100% $back-pos, 100% $back-pos;
							}
						}
					} @else {
						background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

					    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
					    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
					    background-repeat: no-repeat,no-repeat,repeat-x;
					    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
					    background-position: 100% $back-pos, 100% $back-pos;
					}
				}
				@if ($ele) {

					@if ($ele-class) {
						#{$ele} {
							&.#{$ele-class} {
								display: inline;
								position: relative;
								@if ($include-hover == true) {
								background-position: 0 $back-pos, 0 $back-pos;
								background-size: $back-pos $line-size;
								}
								@include transition(background-size 0.3s);
							}
						}
					} @else {
						#{$ele} {
							display: inline;
							position: relative;
							@if ($include-hover == true) {
							background-position: 0 $back-pos, 0 $back-pos;
							background-size: $back-pos $line-size;
							}
							@include transition(background-size 0.3s);
						}
					}
				}
			}
		} @else {
			@if ($include-hover == true) {
				&:hover {
					@if ($ele) {
						@if ($ele-class) {
							#{$ele} {
								&.#{$ele-class} {
									background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

								    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
								    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
								    background-repeat: no-repeat,no-repeat,repeat-x;
								    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
								    background-position: 100% $back-pos, 100% $back-pos;
								}
							}
						} @else {
							#{$ele} {
							    background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

							    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
							    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
							    background-repeat: no-repeat,no-repeat,repeat-x;
							    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
							    background-position: 100% $back-pos, 100% $back-pos;
							}
						}
					} @else {
						background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

					    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
					    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
					    background-repeat: no-repeat,no-repeat,repeat-x;
					    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
					    background-position: 100% $back-pos, 100% $back-pos;
					}
				}
			} @else {
				@if ($ele) {

					@if ($ele-class) {
						#{$ele} {
							&.#{$ele-class} {
								background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

							    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
							    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
							    background-repeat: no-repeat,no-repeat,repeat-x;
							    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
							    background-position: 100% $back-pos, 100% $back-pos;
							}
						}
					} @else {
						#{$ele} {
						    background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

						    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
						    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
						    background-repeat: no-repeat,no-repeat,repeat-x;
						    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
						    background-position: 100% $back-pos, 100% $back-pos;
						}
					}
				} @else {
					background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

				    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
				    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
				    background-repeat: no-repeat,no-repeat,repeat-x;
				    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
				    background-position: 100% $back-pos, 100% $back-pos;
				}
			}
			@if ($ele) {

				@if ($ele-class) {
					#{$ele} {
						&.#{$ele-class} {
							display: inline;
							position: relative;
							@if ($include-hover == true) {
							background-position: 0 $back-pos, 0 $back-pos;
							background-size: $back-pos $line-size;
							}
							@include transition(background-size 0.3s);
						}
					}
				} @else {
					#{$ele} {
						display: inline;
						position: relative;
						@if ($include-hover == true) {
						background-position: 0 $back-pos, 0 $back-pos;
						background-size: $back-pos $line-size;
						}
						@include transition(background-size 0.3s);
					}
				}
			}
		}
	}
}

@mixin multiLineEllipsis($lineHeight: 1.5em, $lineCount: 7, $bgColor: $white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

// Site Specific MIXINS

@mixin topline_links()
{
	a {
		color: $white;
		&:hover {
			color: $white;
			background-color: $blue;
		}
	}
	// Need to attach to hover effect.
	&.external-link {
		&:hover {
			a {
				background-color: $blue;
			}
		}
		&.active {
			a {
				color: $white;
				background-color: $blue;
			}
		}
	}
}

@mixin global_social_links()
{
	color: $global-gray;
	&:hover {
		color: $blue;
	}
	&.search-link {
		color: $red;
		&:hover {
			color: $red;
		}
	}
}

@mixin font($type: font_1, $style: null) {
	
	@extend %#{$type};
	@if ($style) {
		@if ($style == regular) {
			font-weight: 400;
			font-style: normal;
		} @elseif ($style == bold) {
			font-weight: 700;
			font-style: normal;
		}
	}
}

%font_1 {
	font-family: brandon-grotesque, sans-serif;
	font-style: normal;
}
%font-2 {
	font-family: "Noe Display Bold", sans-serif;
	font-style: normal;
}

%font-regular {
	@include font(font_1, regular);
	font-size: 18px;
	line-height: 1.38em;
}

%default-p {
	@include font(font_1, regular);
	font-size: 24px;
	line-height: 36px;
}

%font-medium {
	@include font(font_1, bold);
	font-size: 12px;
	line-height: 18px;
}

%tagline {
	@include font(font_1, bold);
	font-size: 10px;
	line-height: 18px;
	letter-spacing: 0.125em;
}

%social-text {
	@include font(font_1, regular);
	font-size: 10px;
	line-height: 1.8em;
	letter-spacing: 1.2px;
}

%caption {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: $white;
	pointer-events: none;
	p {
		text-transform: uppercase;
		@include font(font_1, bold);
		font-size: 10px;
		line-height: 1.1em;
		letter-spacing: 0.12em;
		text-shadow: 0 0 3px $black;
		@include opacity(0.8);
	}
}
%print-article {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	color: $white;
	pointer-events: none;
	p {
		text-transform: uppercase;
		@include font(font_1, bold);
		font-size: 10px;
		line-height: 1.1em;
		letter-spacing: 0.12em;
		text-shadow: 0 0 3px $black;
		@include opacity(0.8);
	}
	.circle-highlight {
		margin-left: -10px;
		margin-right: 10px;
	}
}

%font-noedisplay {
	@include font(font-2, regular);
	font-size: 24px;
	line-height: 1.38em;
}

%font-menu {
	@include font(font_1, bold);
	letter-spacing: .1em;
	font-size: 10px;
	text-transform: uppercase;
}

%font-bold {
	@include font(font_1, bold);
	font-size: 18px;
	line-height: 1.38em;
}

%button-text {
	@include font(font_1, bold);
	font-size: 12px;
	line-height: 1.38em;
	letter-spacing: 0.125em;
	text-transform: uppercase;
}

%btn-arrow {
	@include font(font-2, regular);
	font-size: 18px;
	line-height: 1.38em;
	text-transform: uppercase;
}
%border-line {
	border: 5px solid $blue;
}

%btn-large {
	padding: 1.8rem 6rem;
}

%btn {
	@extend %button-text;
	@include border-radius(0);
	position: relative;
	outline: 0;
	@include box-shadow(none);
	padding-left: 15px;
	padding-right: 15px;
}

%btn-primary {
	border: 0;
	padding: .5rem 1.5rem;
	@include box-shadow(none);
	background-color: $red;
	color: $white;
	@include transition(all 0.2s ease);
	&:hover {
		outline: 0;
		background-color: darken($red, 10%);
	}
	&:focus, &:active {
		background-color: $red;
		border: 0;
		outline: 0;
		@include box-shadow(none);
	}
	&:not(:disabled) {
		&:not(.disabled) {
			&.active, &:active {
				border: 0;
				outline: 0;
				background-color: darken($red, 15%);
				color: $white;
				@include box-shadow(none);
				&:focus {
					@include box-shadow(none);
					outline: 0;
					background-color: $red;
					color: $white;
					border: 0;
				}
			}
		}
	}
	&.btn-large {
		@extend %btn-large;
	}
}


/**************************************
	START OF CUSTOM THEME WORK
**************************************/

p {
	@extend %default-p;
}

hr {
	border-top: 1px solid $border-gray;
}

h1 {
	@extend %font-2;
	font-size: 60px;
	line-height: 1em;
	&.post {
		display: inline-block;
		margin: 0;
		padding: 15px;
		color: $default;

		span {
		    padding: 0 1.5rem 0 1.5rem;
			border: 0;

			> span {
				padding: 0;
			}
		}
	}
}
h2 {
	@extend %font-2;
	font-size: 40px;
	line-height: 1em;
}

h3 {
	@extend %font-2;
	&.blue {
		color: $blue;
	}
}
h4 {
	@extend %font-noedisplay;
	&.white {
		color: $white;
	}
}
h5 {
	@extend %tagline;
	&.categories {
		color: $tagline;
		padding: 6px 18px 2px;
		&.highlight {
			// background-color: $purple;
			a {
				display: inline-block;
				color: $default;
				&:hover {
					color: $blue;
				}
				&:first-child {
					padding-right: 5px;
				}
				&:last-child {
					padding-left: 5px;
				}
			}
		}
		&.highlight-blue {
			color: $dkblue;
			background-color: $blue;
			padding: 6px 18px;
			a {
				display: inline-block;
				color: $white;
				@include opacity(0.8);
				@transition(all 0.2s ease);
				&:hover {
					color: $white;
					@include opacity(1);
				}
				&:first-child {
					padding-right: 5px;
				}
				&:last-child {
					padding-left: 5px;
				}
			}
		}
		a {
			color: $global-gray;
			&:hover {
				color: $default;
			}
		}
	}
	&.sponsored {
		span {
			background-color: $green;
			color: $white;
		}
	}
}

.header-1 {
	.topline {
		> .inner-wrapper {
    		background-color: $dkblue;
    	}
		.site-section {
			background-color: $white;
			.posts-api-wrapper {
				.post-box {
					.copy {
						a {
							span {
								&.text {
									color: $dkblue;
									@include transition(all 0.3s ease);
								}
							}
							&:hover {
								span {
									&.text {
										color: $blue;
									}
								}
							}
						}

						h3 {
							&.title {
								a {
									display: block;
									color: $default;
									margin: 0;
									@extend %font-2;
									font-size: 24px;
									line-height: 1.2em;
									text-transform: initial;
									text-align: center;
									letter-spacing: normal;
								}
							}
						}
						h2 {
							&.title {
								a {
									display: block;
									color: $default;
									margin: 0;
									text-transform: initial;
									text-align: center;
									letter-spacing: normal;
								}
							}
						}
					}
					.img-wrapper {
						&:hover {
							&+.copy {
								a {
									span {
										&.text {
											color: $blue;
										}
									}
								}
							}
						}
					}
				}
				a {
					&:hover {
						color: $default;
					}
				}
				ul {
					&.categories {
						li {
							a {
								color: $global-gray;
								&:hover {
									color: $blue;
									.title {
										color: $blue;
									}
								}
								@include transition(all 0.2s ease);
							}
						}
					}
				}
			}
		}
	}
}

.navbar {
	background-color: $white;
	&.sticky-nav {
		background-color: $white;
	}
}

.site-section {
	color: $default;
	background-color: $white;
}

#mainMenu {
	background-color: $white;
	#main_navigation {
		li {
			a {
				color: $white;
				@include font(font_1, bold);
				font-size: 18px;
				&:hover {
					color: $red;
				}
			}
		}
		> li {
			&.dropdown {
				&.show {
					    border-top: 2px solid $default;
					> a {
						background-color: $blue;
						color: $default;
						span {
							&.caret-arrow {
								&:before, &:after {
									border-color: $default;
								}
							}
						}
					}
				}
			}
			&.social-buttons {
				padding: 0 1rem;
				> ul {
					.social-media {
						> a {
							color: $white;
							&:hover {
								color: $red;
							}
						}
					}
				}
			}
			&.social-buttons, &.copyright, &.get-the-app {
				background-color: $black;
			}
			&.get-the-app {
				h4 {
					color: $blue;
				}
			}
			&.copyright {
				padding: 0 1rem 3rem;
				color : $white;
				> p {
					line-height: 1em;
				}
				a {
					&.privacy-policy {
						color: $white;
						span {
							&:before {
								background-color: $white;
							}
						}
					}
				}
			}
			> a {
				color: $global-gray;
				@include font(font_1, bold);
				&:hover {
					color: $default;
				}
			}
		}
		ul {
			&.dropdown-menu {
				margin-top: 0;
				background-color: $default;
			}
		}
		.dropdown-toggle {
			span {
				&.caret-arrow {
					&:before, &:after {
						border-bottom: 12px solid $blue;
					}
				}
			}
			&:hover {
				span {
					&.caret-arrow {
						&:before, &:after {
							border-color: $default;
						}
					}
				}
			}
		}
	}
}

.tif-search-modal {
	.modal-dialog {
		.modal-header {
			background-color: $red;
			input {
				&[type="text"] {
					font-size: 60px;
				}
			}
		}
	}
	.form-wrapper {
		span {
			&.underline {
				font-size: 60px;
				border-color: $dkblue;
			}
		}
	}
}

#home-content {
	.ad-home-leaderboard-2 {
		a {
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

#home-content, #main-content {
	.post-half {
		.copy {
			margin: -45px auto 0;
			a {
				span {
					&.text {
						color: $default;
						@include transition(all 0.3s ease);
					}
				}
				&:hover {
					span {
						&.text {
							color: $blue;
						}
					}
				}
				&.post {
					span {
						padding: 10px 15px;
					}
				}
			}
		}
		.img-wrapper {
			&:hover {
				&+.copy {
					a {
						span {
							&.text {
								color: $blue;
							}
						}
					}
				}
			}
		}
	}
	.post-grid {
		&.row {
			.post-tall {
				margin-bottom: 2rem;
				.image {
					min-height: 290px;
					width: 100%;
				}
				.copy {
					a {
						span {
							&.text {
								color: $default;
								@include transition(all 0.3s ease);
							}
						}
						&:hover {
							span {
								&.text {
									color: $blue;
								}
							}
						}
					}
					.title {
						margin: 0 auto;
						a {
							&.post {
								span {
									padding: 6px 0 2px;
								}
							}
						}
					}
				}
				.img-wrapper {
					&:hover {
						&+.copy {
							a {
								span {
									&.text {
										color: $blue;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.post-list {
		.post-wide {
			.copy {
				a {
					span {
						&.text {
							color: $default;
							@include transition(all 0.3s ease);
						}
					}
					&:hover {
						span {
							&.text {
								color: $blue;
							}
						}
					}
				}
			}
			.img-wrapper {
				&:hover {
					&+.copy {
						a {
							span {
								&.text {
									color: $blue;
								}
							}
						}
					}
				}
			}
		}
	}
	.hero-header {
		.next {
			button {
				&.slick-next {
					color: $white;
					width: 100%;
					height: 100%;
					span {
						&.caret-arrow {
							&:before, &:after {
								background-color: $white;
							}
						}
					}
				}
				@include appearance(none);
				background-color: transparent;
				@include box-shadow(none);
				border: 0;
				outline: 0;
				&:active, &:focus {
					outline: 0;
				}
			}
		}
		.hero-body {
			#hero-content {
				.desc-wrapper {
					a {
						span {
							&.text {
								color: $default;
								@include transition(all 0.3s ease);
							}
						}
						&:hover {
							span {
								&.text {
									color: $blue;
								}
							}
						}
					}
					.desc-inner {
						p {
							@include font(font_1, bold);
							font-size: 16px;
							line-height: 2em;
							color: $white;
						}
					}
				}
				.image-wrapper {
					&:hover {
						&+.desc-wrapper {
							a {
								span {
									&.text {
										color: $blue;
									}
								}
							}
						}
					}
				}
			}
			.caption, .print-article {
				p {
					color: $white;
					@extend %font-medium;
					@include opacity(0.7);
				}
			}
			.caption-post {
				p {
					color: $white;
					@extend %font-menu;
					@include opacity(0.7);
					line-height: 1.3em;
				}
			}
		}
		.headline {
			background-color: $purple;
		}
	}
	#content {
		.single-wrapper {
			.sidebar {
				> .newsletter {
					.gform_confirmation_wrapper {
						.gform_confirmation_message {
							@extend %default-p;
						}
					}
					.gform_wrapper {
						padding: 1.5rem 0;
						border-top: 5px solid $blue;
						ul {
							&.gform_fields {
								li {
									&.gfield {
										padding-right: 0;
									}
								}
							}
						}
						h3 {
							font-size: 48px;
							line-height: 1em;
						}
						.gform_heading {
							span {
								&.gform_description {
									padding: 2rem 0 0;
									@extend %default-p;
								}
							}
						}
						.gform_body {
							ul {
								li {
									&.gfield {
										margin-top: 0;
									}
								}
							}
						}
						.top_label {
							div {
								&.ginput_container {
									margin-top: 0;
								}
							}
						}
						li {
							&.hidden_label {
								input {
									margin-top: 0;
								}
							}
						}
						.gform_footer {
							margin-top: 0;
						}
						.gform_footer, .gform_page_footer {
							input {
								&.button, &[type="submit"] {
									@extend %btn;
									@extend %btn-primary;
								}
							}
						}
						input {
							&[type="text"] {
								@extend %default-p;
								padding: .25rem 1rem;
							}
						}
						textarea {
							@extend %default-p;
							padding: .25rem 1rem;
						}
					}
				}
			}
		}
		.section {
			.print-article {
				@extend %print-article;
			}
			.date {
				color: $blue;
				@extend %tagline;
			}
		}
		#instagram-feed {
			background-color: $blue;
			h4 {
				&.title {
					display: inline-block;
					margin: 0;
					padding: 15px 0;
					width: 100%;

					span {
					    line-height: 0;
					    margin: 0;
					    padding: 0 15px;
						border: 0;
						-webkit-box-decoration-break: clone;
						box-decoration-break: clone;
						@include box-shadow(none);

						> span {
							text-transform: lowercase;
							@include box-shadow(none);
							background: transparent;
							box-shadow: none;
							line-height: 0;
							position: relative;
							top: -8px;
							padding: 0;
							z-index: 1;
						}
					}
				}
			}
			a {
				&.insta-feed {
					color: $white;
					font-size: 16px;
					@include opacity(0.8);
					span {
						@extend %font-medium;
					}
					&:hover {
						@include opacity(1);
					}
				}
			}
			#instagram-inner {
				a {
					&.instagram-link {
						&:before {
							@include gradient(transparent, $black);
							@include opacity(.8);
						}
						.likes {
							@extend %font-medium;
							color: $white;
						}
					}
				}
			}
		}
		#posts-section {
			.print-article {
				@extend %print-article;
			}
			#social-share {
				color: $social-color;

				.social-title {
					@extend %social-text;
					text-transform: uppercase;
					font-size: 10px;
					line-height: 1.8em;
					color: $social-color;
				}
				a {
					color: $social-color;
					&:hover {
						color: $blue;
					}
				}
			}
			#body-content {
				p {
					margin-bottom: 1.5rem;
				}
				a {
					color: $blue;
					&.btn {
						@extend %btn;
						&.btn-primary {
							@extend %btn-primary;
						}
					}
				}
				.post-list {
					.post-wide {
						.image {
							background-size: auto;
							background-position: top center;
							&.placeholder {
								background-size: cover;
								background-position: center center;
							}
						}
					}
				}
			}
		}
		.post-item, .slide-item {
			p {
				font-size: 18px;
				line-height: 24px;
				&.block-with-text {
				  @include multiLineEllipsis(1.38em, 5, $white);  
				}
			}
			.copy {
				.content {
					a {
						color: $blue;
						border-bottom: none;
						&:hover {
							color: darken($blue, 5%);
						}
					}
				}
			}
		}
	}
}

#main-content {
	.hero-header {
		.hero-body {
			.post-wrapper, .page-wrapper, .tag-wrapper {
				.overlay {
					p {
						margin-bottom: .25rem;
						@extend %font-menu;
					}
					> p {
						@extend %font-bold;
						color: $white;
						text-transform: capitalize;
						display: block;
						> a {
							@extend %font-bold;
							text-tranform: capitalize;
							color: $white;
						}
					}
					.date {
						text-transform: initial;
						@extend %font-regular;
						color: $white;
					}
					h1, h2, h3 {
						&.post {
							color: $white;
						}
					}

					a {
						span {
							&.text {
								color: $default;
								@include transition(all 0.3s ease);
							}
						}
						&:hover {
							span {
								&.text {
									color: $blue;
								}
							}
						}
					}
				}
			}
			.page-wrapper, .tag-wrapper {
				@include translateY(-50%);
			}
		}
	}
}

.excursion-hero-wrapper {
	img {
		&.fx-img {
			width: auto;
			max-height: 90px;
		}
	}
}

.recent-posts-wrapper {
	h2 {
		font-size: 24px;
		line-height: 28px;
	}
	#featured {
		h2 {
			font-size: 48px;
			line-height: 1em;
		}
		a {
			&.image-wrapper {
			    padding-top: 198px;
			}
		}
		.innerbox {
			margin: 1.5rem auto 0;
			a {
				span {
					&.text {
						color: $default;
						@include transition(all 0.3s ease);
					}
				}
				&:hover {
					span {
						&.text {
							color: $blue;
						}
					}
				}
			}
			.featured-details {
				.date {
					color: $blue;
					@extend %tagline;
				}
			}
		}
		.img-wrapper {
			&:hover {
				&+.innerbox {
					a {
						span {
							&.text {
								color: $blue;
							}
						}
					}
				}
			}
		}
	}
	.right-side {
		margin-top: 1.5rem;
		> h3 {
			padding: 0 15px;
			margin-bottom: 1rem;
		}
		a {
			span {
				&.text {
					color: $default;
					@include transition(all 0.3s ease);
				}
			}
			&:hover {
				span {
					&.text {
						color: $blue;
					}
				}
			}
		}

		h5 {
			padding: 0 15px;
			a {
				color: $blue;
			}
		}
	}
}

body {
	color: $default; // Should probably place this in the style.scss, but in here for now!
	&.search {
		#main-content {
			.hero-header {
				.headline {
					background-color: $orange;
				}
			}
		}
	}
	&.tag {
		#main-content {
			.hero-header {
				.headline {
					background-color: $green;
				}
			}
		}
	}
	&.page {
		#main-content {
			#content {
				.content {
					a {
						color: $blue;
						border-bottom: none;
						&:hover {
							color: darken($blue, 5%);
						}
						&.btn {
							@extend %btn;
							&.btn-primary {
								@extend %btn-primary;
							}
						}
					}
				}
			}
		}
		&.page-template-default {
			#main-content {
				.hero-header {
					.hero-body {
						min-height: 340px;
					}
				}
			}
		}
	}
	&.archive {
		&.tax-excursions_tag_type {
			#main-content {
				.hero-header {
					.hero-body {
						min-height: 340px;
					}
				}
			}
		}
	}
	&.single-excursions {
		#main-content {
			.hero-header {
				.hero-body {
					min-height: 340px;
					.post-wrapper {
						@include translateY(-50%);
					}
				}
			}
			#content {
				#posts-section {
					#body-content {
						> * {
							&:first-child {
								margin-bottom: .5rem;
								margin-top: -.5rem;
							}
						}
						p {
							&.excursion-details {
								@extend %font-regular;
								color: $blue;
							}
						}
						.cta {
							padding: 1.5rem 0;
							border-top: 5px solid $blue;
						}
						.excursions-single-content {
							p, ul, li {
								@extend %default-p;
							}
						}
						.day-list {
							width: 100%;
							.day-item {
								overflow-x: hidden;
								.images {
									.image-half {
										.image {
											height: 430px;
											background-position: center center;
											background-repeat: no-repeat;
											background-size: cover;
										}
										span {
											@extend %tagline;
											color: $global-gray;
											text-transform: uppercase;
										}
									}
									.gmap-half {
										.acf-map {
											position: relative;
											overflow: hidden;
											height: 430px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&.site-globalusa {
		.navbar {
			padding-left: 0;
			padding-right: 0;
			#subnav {
				@extend %font-regular;
				border-top: 1px solid $border-lines;
				li {
					a {
						color: $default;

						&:hover {
							color: $blue;
						}
					}
					&.active {
						a {
							color: $blue;
						}
					}
				}
			}
		}
		.posts-slider {
			.slide-item {
				.image {
					.post-link {
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
					}
					.details-wrapper {
						.details {
							.info {
								@extend %border-line;
								color: $white;
								h1 {
									p, a, span {
										color: $white;
									}
									a {
										@include font(font-2, bold);
										outline: none;
										@include transition(color 0.15s ease-in-out);
									}
								}
								p {
									@extend %font-regular;
								}
							}
							h5 {
								&.categories {
									color: $white;
									&.highlight {
										a {
											color: $white;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

#cta {
	.cta-inner {
		@extend %border-line;
		padding-left: .5rem;
		padding-right: .5rem;
	}
	.box-image {
		position: absolute;
		left: 6vw;
		top: -10px;
		width: auto;
		max-width: 100%;
		max-height: 167px;
	}
}

#fx-excursions {
	background: $black url('../images/fxexcursions-bg.png') no-repeat center center;
	background-size: cover;
	.excursions-inner {
		.intro {
			color: $red;
			@extend %font-regular;
		}
		.excursions-landing-images {
			max-width: 1100px;
			margin-left: auto;
			margin-right: auto;
			.image-item {
				min-height: 250px;
				height: auto;
				overflow: hidden;
				a {
					position: relative;
					display: block;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
					height: 100%;
					width: 100%;
					h2 {
						// @include gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0, 0.4));
						background-color: rgba(0,0,0, .4);
						background-repeat: no-repeat;
						background-size: cover;
						background-position: 100% 100%;
						@extend %font-noedisplay;
						color: $white;
						text-align: center;
						width: 100%;
						padding-left: 15px;
						padding-right: 15px;
						@include transition(all 0.4s ease);
					}
					&:hover {
						h2 {
							background-color: rgba(0,0,0,0);
						}
					}
				}
			}
		}
		p, h1 {
			color: $white;
		}
	}
}

.btn {
	@extend %btn;
	&.btn-primary {
		@extend %btn-primary;
	}
	&.btn-arrow {
		@extend %btn-arrow;
		@include opacity(0.8);
    	@include box-shadow(none);
    	border: 0;
    	outline: 0;
		span {
			&.caret-arrow {
				@include opacity(0.8);
				@include transform(rotate(0deg));
				margin: auto;
				width: 12px;
				height: 12px;
				margin-left: 15px;
				display: inline-block;
				vertical-align: middle;
				@include transition(all .4s ease);

				&:before, &:after {
					content: "";
					background-color: $white;
					width: 2px;
				    height: 10px;
				    display: inline-block;
				    position: absolute;
				    top: 0;
				    left: 0;
				    
				    @include transition(all 0.2s ease);
				}

				&:before {
					@include transform(rotate(135deg));
					margin-top: -3px;
				}
				&:after {
					@include transform(rotate(45deg));
					margin-top: 3px;
				}
			}
		}
		&:hover {
			outline: 0;
			@include opacity(1);
			span {
				&.caret-arrow {
					right: 1.25rem;
					@include opacity(1);
				}
			}
		}
		&:focus {
			outline: 0;
			@include box-shadow(none);
		}
	}
}

@media (min-width: 768px) {
	#home-content, #main-content {
		.post-grid {
			&.row {
				.post-tall {
					margin-bottom: 0;
					&:nth-child(-n+4) {
						margin-bottom: 2rem;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.recent-posts-wrapper {
		.right-side {
			margin-top: 0;
			> h3 {
				margin-bottom: 3rem;
			}
		}
	}
	#fx-excursions {
		.excursions-inner {
			.excursions-landing-images {
				.image-item {
					height: 474px;
				}
			}
		}
	}
	#cta {
		.cta-inner {
			padding-left: 120px;
			padding-right: 0;
		}
	}
	#home-content, #main-content {
		.post-grid {
			&.row {
				.post-tall {
					margin-bottom: 0 !important;
					&:nth-child(-n+3) {
						margin-bottom: 2rem !important;
					}
				}
			}
		}
		.hero-header {
			.hero-body {
				.caption {
					position: absolute;
					text-shadow: 1px 1px 0 black;
					bottom: 6.5rem;
					left: 0;
					right: 0;
					margin: auto;
					p {
						color: $white;
					}
				}
			}
		}
	}
	#main-content {
		#content {
			#posts-section {
				margin-top: -6.5rem;
			}
		}
	}
	body {
		&.archive {
			&.tax-excursions_tag_type {
				#main-content {
					#content {
						#posts-section {
							margin-top: -6.5rem;
						}
					}
				}
			}
		}
		&.single-excursions {
			#main-content {
				#content {
					#posts-section {
						margin-top: -6.5rem;
					}
				}
			}
		}
	}
}

@media (min-width: 1280px) {
	#home-content {
		#content {
			#posts-section {
				margin-top: -6.5rem;
			}
		}
	}
}

@import "style.scss";