@media (min-width: 992px) {
	
	#home-content, #main-content {
		.hero-header {
			.hero-body {
				.caption-post {
					p {
						text-shadow: 1px 1px 0 black;
					}
				}
			}
			.next {
				width: 24vw;
			}
		}
	}

	body {
		&.archive {
			#main-content {
				#content {
					#posts-section {
						margin-top: auto;
					}
				}
			}
		}
		&.site-globalusa {
			.posts-slider {
				.slide-item {
					width: 75vw;
					padding: 0 5px 0 0;
					.image {
						.details-wrapper {
							.details {
								.info {

								}
							}
						}
					}
				}
			}
		}
	}




}

@media (min-width: 1270px) {
	body {
		&.hometakeover {
			#home-content, #main-content {
				#content {
					#posts-section {
						margin-top: 0;
					}
				}
			}
			.header-1 {
				.topline {
					max-height: 92px;
				}
			}
		}

		&.sticky {
			&.hometakeover {
				#home-content, #main-content {
					.hero-header {
						.hero-body {
							.traze-takeover-ad {
								position: fixed;
								top: 92px;
							}
						}
					}
				}
			}
		}
	}
}