@media (min-width: 640px) {
	#home-content, #main-content {
		#content {
			#instagram-feed {
				h4 {
					@include instagram-feed-title(sm);
				}
			}
		}
	}
}

@media (min-width: 768px) {
	
	#home-content, #main-content {
		.hero-header {
			.next {
				display: block;
			}
		}
	}

	#main-content {
		#content {
			#posts-section {
				#social-share {
					max-width: 50px;
					margin-left: 30px;
					margin-right: 0;
					.social-title {
						display: block;
						margin-bottom: 15px;
						span {
							display: block;
							padding-left: 0;
						}
					}
				}
			}
		}
	}

	body {
		&.site-globalusa {
			.posts-slider {
				.slide-item {
					width: 80vw;
					padding: 0 5px 0 0;
					.image {
						.details-wrapper {
							.details {
								.info {

								}
							}
						}
					}
				}
			}
		}
	}

	.traze-mobile-footer, .traze-mobile-footer_2 {
		&.advads-sticky {
			display: none;
		}
	}
}

@media (min-width: 900px) {
	#home-content, #main-content {
		#content {
			#instagram-feed {
				a {
					&.insta-feed {
						float: right;
						text-align: right;
	    				top: -65px;
	    				width: auto;
	    				margin-bottom: auto;
					}
				}
			}
		}
	}
}
