/*
trazeetravel.scss
*/

//------------------------------------------------//
//------------------- IMPORTS --------------------//
//------------------------------------------------//

$grid-columns: 24 !default;
$grid-gutter-width: 15px !default;
$grid-breakpoints: (
	xs: 0,
	sm: 768px,
	md: 992px,
	lg: 1200px,
	xl: 1440px
);

@import "../node_modules/bootstrap/scss/bootstrap";

//------------------------------------------------//
//-------------------- COLORS --------------------//
//------------------------------------------------//

$dk-gray: #414042;
// $gray: #6D6E71;
$border-lines: #BECED3;
// $default: #003646;
$light-blue: #25AECC;  /* default link color */
$border-color: #D6E3E8;
$offblue: #F0F5F7;
$white: #FFFFFF;
$black: #000000;

$gray: #C0BBBD;
$default: #1F163E; // Default text color and background color of some sections.
$green: #2CB78F; // Used for Links and underlines
$orange: #EEB538; // Used for background color of headlines, and search icon...
$purple: #8A7399;
$ltpurple: #B4A5BE;
$menuborder: #484C5B;
$border-gray: #E6E7E8;

$social-color: #D0D2D3;

$fa-share: #3B5998;
$tw-share: #08A0E9;
$li-share: #0077B5;

// Global colors for theme here...
$tagline: $white;
$header-backcolor: $default;
$burgermenu-color: $purple;

//------------------------------------------------//
//--------------------- FONTS --------------------//
//------------------------------------------------//

@mixin font($type: font_1, $style: regular) {
	
	@extend %#{$type};
	@if ($style == regular) {
		font-weight: 400;
		font-style: normal;
	} @elseif ($style == medium) {
		font-weight: 500;
		font-style: normal;
	} @elseif ($style == bold) {
		font-weight: 700;
		font-style: normal;
	}
}

%font_1 {
	font-family: "sofia-pro", arial, sans-serif;
	font-style: normal;
}
%font-2 {
	font-family: "acumin-pro-condensed", sans-serif;
	font-style: normal;
	font-weight: 800;
}

@mixin instagram-feed-title($type: xs) {
	font-family: "acumin-pro-condensed", sans-serif;
	font-style: normal;
	font-weight: 800;
	@if ($type == sm) {
		font-size: 48px;
		&.title {
			span {
				webkit-box-shadow: inset 0 60px 0 $orange, 0 0 0 $orange;
				-moz-box-shadow: inset 0 60px 0 $orange, 0 0 0 $orange;
				box-shadow: inset 0 60px 0 $orange, 0 0 0 $orange;
				> span {
					box-shadow: none;
				}
			}
		}
	} @else {
		font-size: 30px;
		&.title {
			span {
				webkit-box-shadow: inset 0 31px 0 $orange, 0 0 0 $orange;
				-moz-box-shadow: inset 0 31px 0 $orange, 0 0 0 $orange;
				box-shadow: inset 0 31px 0 $orange, 0 0 0 $orange;
				> span {
					box-shadow: none;
				}
			}
		}
	}
	text-transform: uppercase;
}

%font-regular {
	@include font(font_1, regular);
	font-size: 16px;
}

%font-medium {
	@include font(font_1, medium);
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1.2px;
}

%font-menu {
	@include font(font_1, medium);
	letter-spacing: .1em;
	font-size: 10px;
	text-transform: uppercase;
}

%font-bold {
	@include font(font_1, bold);
	font-size: 16px;
	line-height: 2em;
}

%caption {
	position: absolute;
	margin-top: -25px;
	left: 0;
	right: 0;
	color: $white;
	pointer-events: none;
}



//-------------------------------------------------//
//------------------ SASS MIXINS ------------------//
//-------------------------------------------------//

@mixin appearance ($value: none) {
	-webkit-appearance: $value;
   -moz-appearance:    $value;
   appearance:         $value;
}
@mixin text-shadow ($string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: $string;
}
@mixin box-shadow ($string) {
	-webkit-box-shadow: $string;
	-moz-box-shadow:    $string;
	box-shadow:         $string;
}
@mixin vertical-align ($position: null) {

	@if ($position) {
		position: $position;
	}
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
@mixin centerThis($position: absolute) {
	position: $position;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
@mixin drop-shadow ($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25) {
	-webkit-box-shadow:	$x $y $blur $spread rgba(0, 0, 0, $alpha);
	-moz-box-shadow:	$x $y $blur $spread rgba(0, 0, 0, $alpha);
	box-shadow:		$x $y $blur $spread rgba(0, 0, 0, $alpha);
}
@mixin inner-shadow ($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25) {
	-webkit-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
	-moz-box-shadow:    inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
	box-shadow:         inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
}

@mixin box-sizing ($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	box-sizing:         $type;
}

@mixin border-radius ($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius:    $radius;
	border-radius:         $radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
@mixin border-radiuses ($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
	-webkit-border-top-right-radius:    $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius:  $bottomleft;
	-webkit-border-top-left-radius:     $topleft;

	-moz-border-radius-topright:        $topright;
	-moz-border-radius-bottomright:     $bottomright;
	-moz-border-radius-bottomleft:      $bottomleft;
	-moz-border-radius-topleft:         $topleft;

	border-top-right-radius:            $topright;
	border-bottom-right-radius:         $bottomright;
	border-bottom-left-radius:          $bottomleft;
	border-top-left-radius:             $topleft;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

@mixin opacity ($opacity: 0.5) {
	-webkit-opacity: 	$opacity;
	-moz-opacity: 		$opacity;
	opacity: 		$opacity;
	$msopacity: ($opacity * 100);
	filter: alpha(opacity=$msopacity) progid:DXImageTransform.Microsoft.Alpha(opacity=$msopacity) ;
}

@mixin gradient ($startColor: #eee, $endColor: white) {
	background-color: $startColor;
	background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
	background: -webkit-linear-gradient(top, $startColor, $endColor);
	background: -moz-linear-gradient(top, $startColor, $endColor);
	background: -ms-linear-gradient(top, $startColor, $endColor);
	background: -o-linear-gradient(top, $startColor, $endColor);
}
@mixin horizontal-gradient ($startColor: #eee, $endColor: white) {
 	background-color: $startColor;
	background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
	background-image: -webkit-linear-gradient(left, $startColor, $endColor);
	background-image: -moz-linear-gradient(left, $startColor, $endColor);
	background-image: -ms-linear-gradient(left, $startColor, $endColor);
	background-image: -o-linear-gradient(left, $startColor, $endColor);
}

@mixin animation ($name, $duration: 300ms, $delay: 0, $ease: ease) {
	-webkit-animation: $name $duration $delay $ease;
	-moz-animation:    $name $duration $delay $ease;
	-ms-animation:     $name $duration $delay $ease;
}

@mixin transition ($transition) {
	// This cannot take multiple items
	-webkit-transition: $transition;
	-moz-transition:    $transition;
	-ms-transition:     $transition;
	-o-transition:      $transition;
}
@mixin transform($string){
	-webkit-transform: $string;
	-moz-transform: 	 $string;
	-ms-transform: 		 $string;
	-o-transform: 		 $string;
	transform:			$string;
}
@mixin scale ($factor) {
	-webkit-transform: scale($factor);
	-moz-transform: 	 scale($factor);
	-ms-transform: 		 scale($factor);
	-o-transform: 		 scale($factor);
	transform:			scale($factor);
}
@mixin scaleX ($factor) {
	-webkit-transform: scaleX($factor);
	-moz-transform: 	 scaleX($factor);
	-ms-transform: 		 scaleX($factor);
	-o-transform: 		 scaleX($factor);
	transform:			scaleX($factor);
}
@mixin rotate ($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: 	 rotate($deg);
	-ms-transform: 		 rotate($deg);
	-o-transform: 		 rotate($deg);
	transform:			rotate($deg);
}
@mixin skew ($deg, $deg2) {
	-webkit-transform:       skew($deg, $deg2);
	-moz-transform: 	 skew($deg, $deg2);
	-ms-transform: 		 skew($deg, $deg2);
	-o-transform: 		 skew($deg, $deg2);
}
@mixin translate ($x, $y:0) {
	-webkit-transform:       translate($x, $y);
	-moz-transform: 	 translate($x, $y);
	-ms-transform: 		 translate($x, $y);
	-o-transform: 		 translate($x, $y);
}
@mixin translate3d ($x, $y: 0, $z: 0) {
	-webkit-transform:       translate3d($x, $y, $z);
	-moz-transform: 	 translate3d($x, $y, $z);
	-ms-transform: 		 translate3d($x, $y, $z);
	-o-transform: 		 translate3d($x, $y, $z);
}
@mixin perspective ($value: 1000) {
	-webkit-perspective: 	$value;
	-moz-perspective: 	$value;
	-ms-perspective: 	$value;
	perspective: 		$value;
}
@mixin transform-origin ($x:center, $y:center) {
	-webkit-transform-origin: $x $y;
	-moz-transform-origin:    $x $y;
	-ms-transform-origin:     $x $y;
	-o-transform-origin:      $x $y;
}

@mixin fontsmoothing($type: antialiased) {

	@if ($type == antialiased) {
		-webkit-font-smoothing: $type;
		-moz-osx-font-smoothing: grayscale;
	} @else {
		-webkit-font-smoothing: $type;
		-moz-osx-font-smoothing: $type;
	}
}

@mixin appearance ($value: none) {
	-webkit-appearance: $value;
   -moz-appearance:    $value;
   appearance:         $value;
}

%font-smoothing {
	@include fontsmoothing(antialiased);
}

//------------------------------------------------//
//----------------- CUSTOM MIXINS ----------------//
//------------------------------------------------//

@function ratio($width, $height) {
	@return percentage($height / $width);
}

@mixin generateRatios($width: 4, $height: 3, $prefix: "ratio-") {
  $class-name: $prefix + $width + "x" + $height;
 
  &.#{$class-name} {
    padding-bottom: ratio($width, $height);
  }
}

@mixin video($aspect-width: 16, $aspect-height: 9) {
	&.video {
		position: relative;
		padding-top: 35px;
		height: 0;
		overflow: hidden;
		iframe, > * {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			@if ($aspect-width == 16 and $aspect-height == 9) {
			height: 100%;
			}
		}
		@include generateRatios($aspect-width, $aspect-height);
	}
}

@mixin border-link($back-color: #FFFFFF, $border-color: #DC3545, $ele: null, $include-hover: true, $class-name: null, $ele-class: null, $line-size: 1px, $back-pos: 88%) {
	a {
		@if ($class-name) {
			&.#{$class-name} {
				@if ($include-hover == true) {
					&:hover {
						@if ($ele) {
							@if ($ele-class) {
								#{$ele} {
									&.#{$ele-class} {
									    background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

									    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
									    background-size: 0 $line-size, 0 $line-size,$line-size $line-size;
									    background-repeat: no-repeat,no-repeat,repeat-x;
									    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
									    background-position: 100% $back-pos, 100% $back-pos;
									}
								}
							} @else {
								#{$ele} {
								    background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

								    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
								    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
								    background-repeat: no-repeat,no-repeat,repeat-x;
								    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
								    background-position: 100% $back-pos, 100% $back-pos;
								}
							}
						} @else {
							background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));
						    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
						    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
						    background-repeat: no-repeat,no-repeat,repeat-x;
						    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
						    background-position: 100% $back-pos, 100% $back-pos;
						}
					}
				} @else {
					@if ($ele) {
						@if ($ele-class) {
							#{$ele} {
								&.#{$ele-class} {
									background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

								    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
								    background-size: .05em $line-size,.05em $line-size,$line-size $line-size;
								    background-repeat: no-repeat,no-repeat,repeat-x;
								    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
								    background-position: 100% $back-pos, 100% $back-pos;
								}
							}
						} @else {
							#{$ele} {
							    background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

							    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
							    background-size: .05em $line-size,.05em $line-size,$line-size $line-size;
							    background-repeat: no-repeat,no-repeat,repeat-x;
							    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
							    background-position: 100% $back-pos, 100% $back-pos;
							}
						}
					} @else {
						background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

					    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
					    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
					    background-repeat: no-repeat,no-repeat,repeat-x;
					    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
					    background-position: 100% $back-pos, 100% $back-pos;
					}
				}
				@if ($ele) {

					@if ($ele-class) {
						#{$ele} {
							&.#{$ele-class} {
								display: inline;
								position: relative;
								@if ($include-hover == true) {
								background-position: 0 $back-pos, 0 $back-pos;
								background-size: $back-pos $line-size;
								}
								@include transition(background-size 0.3s);
							}
						}
					} @else {
						#{$ele} {
							display: inline;
							position: relative;
							@if ($include-hover == true) {
							background-position: 0 $back-pos, 0 $back-pos;
							background-size: $back-pos $line-size;
							}
							@include transition(background-size 0.3s);
						}
					}
				}
			}
		} @else {
			@if ($include-hover == true) {
				&:hover {
					@if ($ele) {
						@if ($ele-class) {
							#{$ele} {
								&.#{$ele-class} {
									background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

								    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
								    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
								    background-repeat: no-repeat,no-repeat,repeat-x;
								    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
								    background-position: 100% $back-pos, 100% $back-pos;
								}
							}
						} @else {
							#{$ele} {
							    background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

							    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
							    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
							    background-repeat: no-repeat,no-repeat,repeat-x;
							    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
							    background-position: 100% $back-pos, 100% $back-pos;
							}
						}
					} @else {
						background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

					    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
					    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
					    background-repeat: no-repeat,no-repeat,repeat-x;
					    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
					    background-position: 100% $back-pos, 100% $back-pos;
					}
				}
			} @else {
				@if ($ele) {

					@if ($ele-class) {
						#{$ele} {
							&.#{$ele-class} {
								background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

							    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
							    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
							    background-repeat: no-repeat,no-repeat,repeat-x;
							    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
							    background-position: 100% $back-pos, 100% $back-pos;
							}
						}
					} @else {
						#{$ele} {
						    background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

						    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
						    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
						    background-repeat: no-repeat,no-repeat,repeat-x;
						    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
						    background-position: 100% $back-pos, 100% $back-pos;
						}
					}
				} @else {
					background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

				    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
				    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
				    background-repeat: no-repeat,no-repeat,repeat-x;
				    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
				    background-position: 100% $back-pos, 100% $back-pos;
				}
			}
			@if ($ele) {

				@if ($ele-class) {
					#{$ele} {
						&.#{$ele-class} {
							display: inline;
							position: relative;
							@if ($include-hover == true) {
							background-position: 0 $back-pos, 0 $back-pos;
							background-size: $back-pos $line-size;
							}
							@include transition(background-size 0.3s);
						}
					}
				} @else {
					#{$ele} {
						display: inline;
						position: relative;
						@if ($include-hover == true) {
						background-position: 0 $back-pos, 0 $back-pos;
						background-size: $back-pos $line-size;
						}
						@include transition(background-size 0.3s);
					}
				}
			}
		}
	}
}

@mixin multiLineEllipsis($lineHeight: 1.5em, $lineCount: 7, $bgColor: $white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

// Site Specific MIXINS

@mixin topline_links()
{
	a {
		color: $orange;
		&:hover {
			color: $purple;
		}
	}
	// Need to attach to hover effect.
	&.external-link {
		&:hover {
			a {
				background-color: $white;
			}
		}
		&.active {
			a {
				color: $purple;
				background-color: $white;
			}
		}
	}
}

@mixin global_social_links()
{
	color: $white;
	&:hover {
		color: $green;
	}
	&.search-link {
		color: $orange;
		&:hover {
			color: $orange;
		}
	}
}

/**************************************
	START OF CUSTOM THEME WORK
**************************************/

p {
	@extend %font-regular;
	font-size: 21px;
	line-height: 36px;
}

h1 {
	@extend %font-2;
	font-size: 72px;
	line-height: 1em;
	text-transform: uppercase;
	&.post {
		display: inline-block;
		margin: 0;
		padding: 15px;
		color: $default;

		span {
		    padding: 0 1.5rem 0 1.5rem;
			border: 0;
			-webkit-box-decoration-break: clone;
			box-decoration-break: clone;
			webkit-box-shadow: inset 0 80px 0 $white, 0 0 0 $white;
			-moz-box-shadow: inset 0 80px 0 $white, 0 0 0 $white;
			box-shadow: inset 0 80px 0 $white, 0 0 0 $white;

			> span {
				top: -15px;
				padding: 0;
			}
		}
	}
}
h2 {
	@extend %font-2;
	font-size: 36px;
	line-height: 45px;
}
h3 {
	@extend %font-2;
}
h2, h3 {
	text-transform: uppercase;
}
h5 {
	@extend %font-medium;
	&.categories {
		color: $green;
		padding: 6px 18px;
		&.highlight {
			background-color: $purple;
			a {
				color: $white;
				&:hover {
					color: $white;
				}
			}
		}
		a {
			color: $gray;
			&:hover {
				color: $default;
			}
		}
	}
	&.sponsored {
		span {
			background-color: $green;
			color: $white;
		}
	}
}
.header-1 {
	.topline {
		> .inner-wrapper {
    		border-bottom: 1px solid $menuborder;
    	}
		.site-section {
			background-color: $white;
			.posts-api-wrapper {
				.post-box {
					.copy {
						@include border-link($white, $green, span, true, null, text, 2px, 94%);
						h3 {
							&.title {
								a {
									display: block;
									color: $default;
									margin: 0;
									@extend %font-2;
									font-size: 24px;
									line-height: 1.2em;
									text-transform: uppercase;
									text-align: center;
									letter-spacing: normal;
								}
							}
						}
					}
					.img-wrapper {
						&:hover {
							&+.copy {
								@include border-link($white, $green, span, false, null, text, 2px, 94%);
							}
						}
					}
				}
				a {
					&:hover {
						color: $default;
					}
				}
				ul {
					&.categories {
						li {
							a {
								color: $gray;
								&:hover {
									color: $default;
									.title {
										color: $default;
									}
								}
								@include transition(all 0.2s ease);
							}
						}
					}
				}
			}
		}
	}
}

.navbar {
	background-color: $default;
	&.sticky-nav {
		background-color: $default;
	}
}

.site-section {
	color: $default;
	background-color: $white;
}
#mainMenu {
	background-color: $default;
	#main_navigation {
		li {
			a {
				color: $ltpurple;
				@include font(font_1, bold);
				font-size: 16px;
				&:hover {
					color: $white;
				}
			}
		}
		> li {
			&.dropdown {
				&.show {
					> a {
						background-color: $green;
						color: $white;
						span {
							&.caret-arrow {
								&:before, &:after {
									border-color: $white;
								}
							}
						}
					}
				}
			}
			&.social-buttons {
				padding: 3rem 1rem .25rem;
				> ul {
					.social-media {
						> a {
							color: $white;
							&:hover {
								color: $green;
							}
						}
					}
				}
			}
			&.social-buttons, &.copyright {
				background-color: $black;
			}
			&.copyright {
				padding: .25rem 1rem 3rem;
				color : $green;
				a {
					&.privacy-policy {
						color: $green;
						span {
							&:before {
								background-color: $green;
							}
						}
					}
				}
			}
		}
		ul {
			&.dropdown-menu {
				background-color: $purple;
			}
		}
		.dropdown-toggle {
			span {
				&.caret-arrow {
					&:before, &:after {
						border-bottom: 12px solid $ltpurple;
					}
				}
			}
			&:hover {
				span {
					&.caret-arrow {
						&:before, &:after {
							border-color: $white;
						}
					}
				}
			}
		}
	}
}

.tif-search-modal {
	.modal-dialog {
		.modal-header {
			background-color: $orange;
			input {
				&[type="text"] {
					font-size: 72px;
					text-transform: uppercase;
				}
			}
		}
	}
	.form-wrapper {
		span {
			font-size: 72px;
			&.underline {
				font-size: 72px;
				text-transform: uppercase;
				border-color: $green;
			}
		}
	}
}

#home-content, #main-content {
	.post-half {
		.copy {
			margin: -45px auto 0;
			@include border-link($white, $green, span, true, null, text, 2px, 94%);
			a {
				&.post {
					span {
						padding: 0 15px;
						> span {
							top: 3px !important;
						}
					}
				}
			}
		}
		.img-wrapper {
			&:hover {
				&+.copy {
					@include border-link($white, $green, span, false, null, text, 2px, 94%);
				}
			}
		}
	}
	.post-grid {
		&.row {
			.post-tall {
				.ad-wrapper {
					background-color: whitesmoke;
				}
				.image {
					min-height: 354px;
				}
				.copy {
					@include border-link($white, $green, span, true, null, text, 2px, 94%);
					.title {
						max-width: 90%;
						margin: -35px auto 0;
						a {
							&.post {
								span {
									padding: 0 0 2px;
								}
							}
						}
					}
				}
				.img-wrapper {
					&:hover {
						&+.copy {
							@include border-link($white, $green, span, false, null, text, 2px, 94%);
						}
					}
				}
				&.alt-top {
					.tagline {
						margin-bottom: -5px;
					}
				}
			}
		}
	}
	.post-list {
		.post-wide {
			.copy {
				@include border-link($white, $green, span, true, null, text, 2px, 98%);
			}
			.img-wrapper {
				&:hover {
					&+.copy {
						@include border-link($white, $green, span, false, null, text, 2px, 98%);
					}
				}
			}
		}
	}
	.hero-header {
		.hero-body {
			#hero-content {
				.desc-wrapper {
					@include border-link($white, $green, span, true, null, text, 2px);
					.desc-inner {
						p {
							@extend %font-bold;
							color: $white;
						}
					}
				}
				.image-wrapper {
					&:hover {
						&+.desc-wrapper {
								@include border-link($white, $green, span, false, null, text, 2px);
						}
					}
				}
			}
			.caption {
				p {
					color: $white;
					@extend %font-medium;
					@include opacity(0.7);
				}
			}
			.caption-post {
				p {
					color: $white;
					@extend %font-medium;
					@include opacity(0.7);
				}
			}
		}
		.headline {
			background-color: $purple;
		}
	}
	#content {
		.section {
			.caption-wrap {
				.caption {
					position: static;
					margin-top: auto;
				}
			}
			.date {
				@extend %font-medium;
			}
		}
		#instagram-feed {
			background-color: $green;
			a {
				&.insta-feed {
					color: $white;
					font-size: 16px;
					@include opacity(0.8);
					span {
						@extend %font-medium;
					}
					&:hover {
						@include opacity(1);
					}
				}
			}
			#instagram-inner {
				a {
					&.instagram-link {
						&:before {
							@include gradient(transparent, $black);
							@include opacity(.8);
						}
						.likes {
							@extend %font-medium;
							color: $white;
						}
					}
				}
			}
		}
		#posts-section {

			.caption-wrap {
				.caption {
					position: static;
					margin-top: auto;
				}
			}

			#social-share {
				color: $social-color;

				.social-title {
					@extend %font-medium;
					text-transform: uppercase;
					font-size: 10px;
					line-height: 1.8em;
					color: $social-color;
				}
				a {
					color: $social-color;
					&:hover {
						color: $green;

						i {
							&.fa-facebook-f {
								color: darken($fa-share, 10%);
							}
							&.fa-twitter {
								color: darken($tw-share, 10%);
							}
							&.fa-linkedin {
								color: darken($li-share, 10%);
							}
						}
					}
					i {
						&.fa-facebook-f {
							color: $fa-share;
						}
						&.fa-twitter {
							color: $tw-share;
						}
						&.fa-linkedin {
							color: $li-share;
						}
					}
				}
			}
			#body-content {
				a {
					color: $green;
					border-bottom: 2px solid $green;
				}
			}
		}
		.post-item {
			p {
				font-size: 16px;
				line-height: 1.5em;
				&.block-with-text {
				  @include multiLineEllipsis(1.5em, 5, $white);  
				}
			}
			.copy {
				.content {
					a {
						color: $green;
						border-bottom: none;
						&:hover {
							color: darken($green, 5%);
						}
					}
				}
			}
		}
	}
}

#main-content {
	.hero-header {
		.hero-body {
			.post-wrapper {
				.overlay {
					p {
						@extend %font-bold;
						color: $white;
						margin: 0;
					}
					.date {
						text-transform: uppercase;
						@extend %font-medium;
						color: $white;
					}
					@include border-link($white, $green, span, true, null, text, 2px);
				}
			}
		}
	}
}

.recent-posts-wrapper {
	#featured {
		a {
			&.image-wrapper {
			    padding-top: 280px;
			}
		}
		.innerbox {
			margin: 0 auto;
			top: -40px;
			@include border-link($white, $green, span, true, null, text, 2px, 94%);
			.featured-details {
				.date {
					@extend %font-medium;
				}
			}
		}
		.img-wrapper {
			&:hover {
				&+.innerbox {
					@include border-link($white, $green, span, false, null, text, 2px, 94%);
				}
			}
		}
	}
	.right-side {
		> h3 {
			padding: 0 15px;
		}
		@include border-link($white, $green, span, true, null, text, 2px, 94%);

		h5 {
			padding: 0 15px;
			a {
				color: $green;
			}
		}
	}
}

body {
	&.search {
		#main-content {
			.hero-header {
				.headline {
					background-color: $orange;
				}
			}
		}
	}
	&.tag {
		#main-content {
			.hero-header {
				.headline {
					background-color: $green;
				}
			}
		}
	}
	&.page {
		#main-content {
			#content {
				.content {
					a {
						color: $green;
						border-bottom: 2px solid $green;

						&:hover {
							color: $green;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	#home-content, #main-content {
		.post-half {
			.copy {
				@include border-link($white, $green, span, true, null, text, 2px, 100%);
			}
			.img-wrapper {
				&:hover {
					&+.copy {
						@include border-link($white, $green, span, false, null, text, 2px, 100%);
					}
				}
			}
		}
	}
}

@media (max-width: 991px) {

	#home-content, #main-content {
		.hero-header {
			.hero-body {
				&.post-item {
					#hero-content {
						.desc-wrapper {
							@include border-link($white, $green, span, true, null, text, 2px, 92%);
						}
						.image-wrapper {
							&:hover {
								&+.desc-wrapper {
									@include border-link($white, $green, span, false, null, text, 2px, 92%);
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	#home-content, #main-content {
		#content {
			#posts-section {
				margin-top: -6.5rem;
				#body-content {
					p {
						margin-bottom: 0;
					}
				}
			}
		}
		.hero-header {
			.hero-body {
				.caption {
					position: absolute;
					text-shadow: 1px 1px 0 black;
					bottom: 6.5rem;
					left: 0;
					right: 0;
					margin: auto;
					p {
						color: $white;
					}
				}
			}
		}
	}
}

.ajax-loader {
	.lds-ellipsis {
		div {
			background: $orange;
		}
	}
}

@import "style.scss";

body {
	&.postid-48601 {
		#main-content {
			.hero-header {
				.hero-body {
					background-position-y: bottom !important;
					.post-wrapper {
						top: 2.5rem;
						bottom: auto;
					}
				}
			}
		}
	}
}