/*
whereverfamily.scss
*/

//------------------------------------------------//
//------------------- IMPORTS --------------------//
//------------------------------------------------//

$grid-columns: 24 !default;
$grid-gutter-width: 15px !default;
$grid-breakpoints: (
	xs: 0,
	sm: 768px,
	md: 992px,
	lg: 1200px,
	xl: 1440px
);

@import "../node_modules/bootstrap/scss/bootstrap";

//------------------------------------------------//
//-------------------- COLORS --------------------//
//------------------------------------------------//

$dk-gray: #414042;
// $gray: #6D6E71;
$border-lines: #BECED3;
// $default: #003646;
$light-blue: #25AECC;  /* default link color */
$border-color: #D6E3E8;
$offblue: #F0F5F7;
$white: #FFFFFF;
$black: #000000;

$gray: #C0BBBD;
$default: #1F163E; // Default text color and background color of some sections.
$green: #046D41; // Used for Links and underlines
$orange: #EEB538; // Used for background color of headlines, and search icon...
$purple: #8A7399;
$ltpurple: #B4A5BE;
$menuborder: #484C5B;
$border-gray: #E6E7E8;

// Wherever Colors...
$tagline: #90C844;
$header-backcolor: $white;
$taglink: #BEC3B5;
$light-green: $tagline;
$border-green: #108751;
$burgermenu-color: $taglink;
$dark-background: #202433;

$social-color: #D0D2D3;

$fa-share: #3B5998;
$tw-share: #08A0E9;
$li-share: #0077B5;

//------------------------------------------------//
//--------------------- FONTS --------------------//
//------------------------------------------------//

@mixin font($type: font_1, $style: regular) {
	
	@extend %#{$type};
	@if ($style == regular) {
		font-style: normal;
		font-weight: 400;
	} @elseif ($style == medium) {
		font-style: normal;
		font-weight: 600;
	} @elseif ($style == bold) {
		font-style: normal;
		font-weight: 700;
	}
}

%font_1 {
	font-family: canada-type-gibson, sans-serif;
	font-style: normal;
}
%font-2 {
	@include font(font_1, bold);
}

%font-regular {
	@include font(font_1, regular);
	font-size: 16px;
}

%font-medium {
	@include font(font_1, medium);
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1.2px;
}

%font-menu {
	@include font(font_1, medium);
	letter-spacing: .1em;
	font-size: 10px;
	text-transform: uppercase;
}

%font-bold {
	@include font(font_1, bold);
	font-size: 16px;
	line-height: 2em;
}



//-------------------------------------------------//
//------------------ SASS MIXINS ------------------//
//-------------------------------------------------//

@mixin appearance ($value: none) {
	-webkit-appearance: $value;
   -moz-appearance:    $value;
   appearance:         $value;
}
@mixin text-shadow ($string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: $string;
}
@mixin box-shadow ($string) {
	-webkit-box-shadow: $string;
	-moz-box-shadow:    $string;
	box-shadow:         $string;
}
@mixin vertical-align ($position: null) {

	@if ($position) {
		position: $position;
	}
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
@mixin centerThis($position: absolute) {
	position: $position;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
@mixin drop-shadow ($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25) {
	-webkit-box-shadow:	$x $y $blur $spread rgba(0, 0, 0, $alpha);
	-moz-box-shadow:	$x $y $blur $spread rgba(0, 0, 0, $alpha);
	box-shadow:		$x $y $blur $spread rgba(0, 0, 0, $alpha);
}
@mixin inner-shadow ($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25) {
	-webkit-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
	-moz-box-shadow:    inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
	box-shadow:         inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
}

@mixin box-sizing ($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	box-sizing:         $type;
}

@mixin border-radius ($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius:    $radius;
	border-radius:         $radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
@mixin border-radiuses ($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
	-webkit-border-top-right-radius:    $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius:  $bottomleft;
	-webkit-border-top-left-radius:     $topleft;

	-moz-border-radius-topright:        $topright;
	-moz-border-radius-bottomright:     $bottomright;
	-moz-border-radius-bottomleft:      $bottomleft;
	-moz-border-radius-topleft:         $topleft;

	border-top-right-radius:            $topright;
	border-bottom-right-radius:         $bottomright;
	border-bottom-left-radius:          $bottomleft;
	border-top-left-radius:             $topleft;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

@mixin opacity ($opacity: 0.5) {
	-webkit-opacity: 	$opacity;
	-moz-opacity: 		$opacity;
	opacity: 		$opacity;
	$msopacity: ($opacity * 100);
	filter: alpha(opacity=$msopacity) progid:DXImageTransform.Microsoft.Alpha(opacity=$msopacity) ;
}

@mixin gradient ($startColor: #eee, $endColor: white) {
	background-color: $startColor;
	background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
	background: -webkit-linear-gradient(top, $startColor, $endColor);
	background: -moz-linear-gradient(top, $startColor, $endColor);
	background: -ms-linear-gradient(top, $startColor, $endColor);
	background: -o-linear-gradient(top, $startColor, $endColor);
}
@mixin horizontal-gradient ($startColor: #eee, $endColor: white) {
 	background-color: $startColor;
	background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
	background-image: -webkit-linear-gradient(left, $startColor, $endColor);
	background-image: -moz-linear-gradient(left, $startColor, $endColor);
	background-image: -ms-linear-gradient(left, $startColor, $endColor);
	background-image: -o-linear-gradient(left, $startColor, $endColor);
}

@mixin animation ($name, $duration: 300ms, $delay: 0, $ease: ease) {
	-webkit-animation: $name $duration $delay $ease;
	-moz-animation:    $name $duration $delay $ease;
	-ms-animation:     $name $duration $delay $ease;
}

@mixin transition ($transition) {
	// This cannot take multiple items
	-webkit-transition: $transition;
	-moz-transition:    $transition;
	-ms-transition:     $transition;
	-o-transition:      $transition;
}
@mixin transform($string){
	-webkit-transform: $string;
	-moz-transform: 	 $string;
	-ms-transform: 		 $string;
	-o-transform: 		 $string;
	transform:			$string;
}
@mixin scale ($factor) {
	-webkit-transform: scale($factor);
	-moz-transform: 	 scale($factor);
	-ms-transform: 		 scale($factor);
	-o-transform: 		 scale($factor);
	transform:			scale($factor);
}
@mixin scaleX ($factor) {
	-webkit-transform: scaleX($factor);
	-moz-transform: 	 scaleX($factor);
	-ms-transform: 		 scaleX($factor);
	-o-transform: 		 scaleX($factor);
	transform:			scaleX($factor);
}
@mixin rotate ($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: 	 rotate($deg);
	-ms-transform: 		 rotate($deg);
	-o-transform: 		 rotate($deg);
	transform:			rotate($deg);
}
@mixin skew ($deg, $deg2) {
	-webkit-transform:       skew($deg, $deg2);
	-moz-transform: 	 skew($deg, $deg2);
	-ms-transform: 		 skew($deg, $deg2);
	-o-transform: 		 skew($deg, $deg2);
}
@mixin translate ($x, $y:0) {
	-webkit-transform:       translate($x, $y);
	-moz-transform: 	 translate($x, $y);
	-ms-transform: 		 translate($x, $y);
	-o-transform: 		 translate($x, $y);
}
@mixin translate3d ($x, $y: 0, $z: 0) {
	-webkit-transform:       translate3d($x, $y, $z);
	-moz-transform: 	 translate3d($x, $y, $z);
	-ms-transform: 		 translate3d($x, $y, $z);
	-o-transform: 		 translate3d($x, $y, $z);
}
@mixin perspective ($value: 1000) {
	-webkit-perspective: 	$value;
	-moz-perspective: 	$value;
	-ms-perspective: 	$value;
	perspective: 		$value;
}
@mixin transform-origin ($x:center, $y:center) {
	-webkit-transform-origin: $x $y;
	-moz-transform-origin:    $x $y;
	-ms-transform-origin:     $x $y;
	-o-transform-origin:      $x $y;
}

@mixin fontsmoothing($type: antialiased) {

	@if ($type == antialiased) {
		-webkit-font-smoothing: $type;
		-moz-osx-font-smoothing: grayscale;
	} @else {
		-webkit-font-smoothing: $type;
		-moz-osx-font-smoothing: $type;
	}
}

@mixin appearance ($value: none) {
	-webkit-appearance: $value;
   -moz-appearance:    $value;
   appearance:         $value;
}

%font-smoothing {
	@include fontsmoothing(antialiased);
}

//------------------------------------------------//
//----------------- CUSTOM MIXINS ----------------//
//------------------------------------------------//

@function ratio($width, $height) {
	@return percentage($height / $width);
}

@mixin generateRatios($width: 4, $height: 3, $prefix: "ratio-") {
  $class-name: $prefix + $width + "x" + $height;
 
  &.#{$class-name} {
    padding-bottom: ratio($width, $height);
  }
}

@mixin video($aspect-width: 16, $aspect-height: 9) {
	&.video {
		position: relative;
		padding-top: 35px;
		height: 0;
		overflow: hidden;
		iframe, > * {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			@if ($aspect-width == 16 and $aspect-height == 9) {
			height: 100%;
			}
		}
		@include generateRatios($aspect-width, $aspect-height);
	}
}

@mixin border-link($back-color: #FFFFFF, $border-color: #DC3545, $ele: null, $include-hover: true, $class-name: null, $ele-class: null, $line-size: 1px, $back-pos: 88%) {
	a {
		@if ($class-name) {
			&.#{$class-name} {
				@if ($include-hover == true) {
					&:hover {
						@if ($ele) {
							@if ($ele-class) {
								#{$ele} {
									&.#{$ele-class} {
									    background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

									    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
									    background-size: 0 $line-size, 0 $line-size,$line-size $line-size;
									    background-repeat: no-repeat,no-repeat,repeat-x;
									    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
									    background-position: 100% $back-pos, 100% $back-pos;
									}
								}
							} @else {
								#{$ele} {
								    background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

								    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
								    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
								    background-repeat: no-repeat,no-repeat,repeat-x;
								    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
								    background-position: 100% $back-pos, 100% $back-pos;
								}
							}
						} @else {
							background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));
						    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
						    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
						    background-repeat: no-repeat,no-repeat,repeat-x;
						    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
						    background-position: 100% $back-pos, 100% $back-pos;
						}
					}
				} @else {
					@if ($ele) {
						@if ($ele-class) {
							#{$ele} {
								&.#{$ele-class} {
									background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

								    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
								    background-size: .05em $line-size,.05em $line-size,$line-size $line-size;
								    background-repeat: no-repeat,no-repeat,repeat-x;
								    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
								    background-position: 100% $back-pos, 100% $back-pos;
								}
							}
						} @else {
							#{$ele} {
							    background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

							    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
							    background-size: .05em $line-size,.05em $line-size,$line-size $line-size;
							    background-repeat: no-repeat,no-repeat,repeat-x;
							    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
							    background-position: 100% $back-pos, 100% $back-pos;
							}
						}
					} @else {
						background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

					    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
					    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
					    background-repeat: no-repeat,no-repeat,repeat-x;
					    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
					    background-position: 100% $back-pos, 100% $back-pos;
					}
				}
				@if ($ele) {

					@if ($ele-class) {
						#{$ele} {
							&.#{$ele-class} {
								display: inline;
								position: relative;
								@if ($include-hover == true) {
								background-position: 0 $back-pos, 0 $back-pos;
								background-size: $back-pos $line-size;
								}
								@include transition(background-size 0.3s);
							}
						}
					} @else {
						#{$ele} {
							display: inline;
							position: relative;
							@if ($include-hover == true) {
							background-position: 0 $back-pos, 0 $back-pos;
							background-size: $back-pos $line-size;
							}
							@include transition(background-size 0.3s);
						}
					}
				}
			}
		} @else {
			@if ($include-hover == true) {
				&:hover {
					@if ($ele) {
						@if ($ele-class) {
							#{$ele} {
								&.#{$ele-class} {
									background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

								    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
								    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
								    background-repeat: no-repeat,no-repeat,repeat-x;
								    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
								    background-position: 100% $back-pos, 100% $back-pos;
								}
							}
						} @else {
							#{$ele} {
							    background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

							    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
							    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
							    background-repeat: no-repeat,no-repeat,repeat-x;
							    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
							    background-position: 100% $back-pos, 100% $back-pos;
							}
						}
					} @else {
						background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

					    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
					    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
					    background-repeat: no-repeat,no-repeat,repeat-x;
					    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
					    background-position: 100% $back-pos, 100% $back-pos;
					}
				}
			} @else {
				@if ($ele) {

					@if ($ele-class) {
						#{$ele} {
							&.#{$ele-class} {
								background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

							    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
							    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
							    background-repeat: no-repeat,no-repeat,repeat-x;
							    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
							    background-position: 100% $back-pos, 100% $back-pos;
							}
						}
					} @else {
						#{$ele} {
						    background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

						    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
						    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
						    background-repeat: no-repeat,no-repeat,repeat-x;
						    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
						    background-position: 100% $back-pos, 100% $back-pos;
						}
					}
				} @else {
					background: -webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($back-color),to($back-color)),-webkit-gradient(linear,left top,left bottom,from($border-color),to($border-color));

				    background: linear-gradient($back-color, $back-color),linear-gradient($back-color, $back-color),linear-gradient($border-color,$border-color);
				    background-size: 0 $line-size,0 $line-size,$line-size $line-size;
				    background-repeat: no-repeat,no-repeat,repeat-x;
				    text-shadow: 0.03em 0 $back-color, -0.03em 0 $back-color, 0 0.03em $back-color, 0 -0.03em $back-color, 0.06em 0 $back-color, -0.06em 0 $back-color, 0.09em 0 $back-color, -0.09em 0 $back-color, 0.12em 0 $back-color, -0.12em 0 $back-color, 0.15em 0 $back-color, -0.15em 0 $back-color;
				    background-position: 100% $back-pos, 100% $back-pos;
				}
			}
			@if ($ele) {

				@if ($ele-class) {
					#{$ele} {
						&.#{$ele-class} {
							display: inline;
							position: relative;
							@if ($include-hover == true) {
							background-position: 0 $back-pos, 0 $back-pos;
							background-size: $back-pos $line-size;
							}
							@include transition(background-size 0.3s);
						}
					}
				} @else {
					#{$ele} {
						display: inline;
						position: relative;
						@if ($include-hover == true) {
						background-position: 0 $back-pos, 0 $back-pos;
						background-size: $back-pos $line-size;
						}
						@include transition(background-size 0.3s);
					}
				}
			}
		}
	}
}

@mixin multiLineEllipsis($lineHeight: 1.5em, $lineCount: 7, $bgColor: $white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

// Site Specific MIXINS

@mixin topline_links()
{
	a {
		color: $taglink;
		&:hover {
			color: $white;
		}
	}
	// Need to attach to hover effect.
	&.external-link {
		&:hover {
			a {
				background-color: $light-green;
			}
		}
		&.active {
			a {
				color: $white;
				background-color: $light-green;
			}
		}
	}
}

@mixin global_social_links()
{
	color: $taglink;
	&:hover {
		color: $green;
	}
	&.search-link {
		color: $light-green;
		&:hover {
			color: $light-green;
		}
	}
}

/**************************************
	START OF CUSTOM THEME WORK
**************************************/

.header-1 {
	.topline {
		> .inner-wrapper {
    		border-bottom: 1px solid $green;
    		background-color: $green;
    	}
		.site-section {
			border-top: 1px solid $border-green;
			background-color: $green;
			color: $white;
			.posts-api-wrapper {
				.post-box {
					.copy {
						// @include border-link($green, $white, span, true, null, text, 2px, 94%);
						a {
							span {
								&.text {
									color: $white;
									@include transition(all 0.3s ease);
								}
							}
							&:hover {
								span {
									&.text {
										color: $light-green;
									}
								}
							}
						}
						h3 {
							&.title {
								a {
									display: block;
									color: $white;
									margin: 0;
									@extend %font-2;
									font-size: 18px;
									line-height: 1.35em;
									text-transform: uppercase;
									text-align: center;
									letter-spacing: normal;
								}
							}
						}
					}
					.img-wrapper {
						&:hover {
							&+.copy {
								a {
									span {
										&.text {
											color: $light-green;
										}
									}
								}
								// @include border-link($green, $white, span, false, null, text, 2px, 94%);
							}
						}
					}
				}
				a {
					&:hover {
						color: $default;
					}
				}
				ul {
					&.categories {
						li {
							a {
								color: $gray;
								&:hover {
									color: $white;
									.title {
										color: $default;
									}
								}
								@include transition(all 0.2s ease);
							}
						}
					}
				}
			}
		}
	}
}

.navbar {
	background-color: $white;
	&.sticky-nav {
		background-color: $white;
	}
}

#mainMenu {
	background-color: $green;
	#main_navigation {
		li {
			a {
				color: $white;
				@extend %font-medium;
				&:hover {
					color: $light-green;
				}
				> ul {
					li {
						a {
							@include font(font_1, regular);
						}
					}
				}
			}
		}
		> li {
			&.dropdown {
				&.show {
					> a {
						background-color: $light-green;
						color: $white;
						span {
							&.caret-arrow {
								&:before, &:after {
									border-color: $border-green;
								}
							}
						}
					}
				}
			}
			> a {
				line-height: 1em;
			}
			&.social-buttons, &.copyright {
				background-color: $dark-background;
			}
			&.copyright {
				color : $white;
				> p {
					line-height: 1em;
				}
				a {
					&.privacy-policy {
						color: $white;
						span {
							&:before {
								background-color: $white;
							}
						}
					}
				}
			}
		}
		ul {
			&.dropdown-menu {
				background-color: $border-green;
			}
		}
		.dropdown-toggle {
			span {
				&.caret-arrow {
					&:before, &:after {
						border-bottom: 12px solid $border-green;
					}
				}
			}
			&:hover {
				span {
					&.caret-arrow {
						&:before, &:after {
							border-color: $border-green;
						}
					}
				}
			}
		}
	}
}

@import "style.scss";